{% set asset = elementSelectConfig is defined and elementSelectConfig.elements|length ? elementSelectConfig.elements.first : false %}
<div class="imagemap-canvas{{ asset ? ' has-asset' }}" data-field="{{ fieldId }}">
	<div class="imagemap-canvas__frame">
		{% if asset %}
		{% switch asset.kind %}
			{% case 'image' %}
				<img src="{{ asset.getUrl(false) }}" width="{{ asset.getWidth(false) }}" height="{{ asset.getHeight(false) }}" alt="{{ asset.title }}" />
			{% default %}
				<p class="error">Sorry, {{ asset.kind }} not supported</p>
		{% endswitch %}
		{% endif %}
	</div>
</div>

{% if elementSelectConfig is defined %}
<div class="imagemap-element-select">
	{% include '_includes/forms/elementSelect' with elementSelectConfig only %}
</div>
{% endif %}

<input type="hidden" name="{{ name }}[points]" value="{{ points|json_encode }}" class="imagemap-canvas__points-input">