.imagemap-canvas {
	width: 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 10px;
}

.imagemap-canvas__frame {
	position: relative;
	overflow: hidden;
}

.imagemap-canvas__frame img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 1px solid #E6E6E6;
	position: relative;
	z-index: 1;
}

.imagemap-canvas__point {
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 2;
	left: 0; top: 0;
	margin-left: -10px;
	margin-top: -10px;
	cursor: pointer;
}

.imagemap-canvas.has-asset .imagemap-canvas__point {
	display: block;
}

.imagemap-canvas__point .icon {
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.25);
	border-radius: 100%;
	overflow: hidden;
	transition: background-color .1s, transform .1s;
	pointer-events: none;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

.imagemap-canvas__point.has-element .icon {
	background-color: rgba(13,120,242,.85);
}
.imagemap-canvas .imagemap-canvas__point:hover .icon,
.imagemap-canvas .imagemap-canvas__point:active .icon {
	transform: scale(1.1, 1.1);
	transform-origin: center center;
}

.imagemap-canvas-menu {
	margin-top: 4px;
}